
/**
 * @file
 * Styles for uc_order_update_attribute module.
 */
#product-attribute-position {
  text-align: center;
  font-size: 1.0em;
}
#product-attribute-position ul li {
  margin-left: 10px;
  text-align: left;
}
#product-attribute-position ul li#product-title {
  font-weight: bold;
}
#product-attribute-position ul li#product-attribute-list {
	font-size: 0.9em;
  font-weight: bold;
}
#product-attribute-position ul li#product-attribute-list div {
  font-weight: normal;
}
.product-attribute {
  font-weight: bold;
}
#edit-product-attribute {
  padding-right: 10px;
}
